.column2 {
    width: auto;
}
.descriptif {

 
    padding-top:10vw;
}
.descriptif article h4 {

    margin-top:3px;
       padding-left: 5px;
   }

.descriptif article h5 {

margin-top:3px;
    padding-left: 5px;
}


.descriptif h2{
    align-self: flex-start;
}


.descriptif article {
    display:flex;
   
    width: 100%;
    height:auto;

    margin: 10px 0 10px 0;
    padding: 5px;
}
.descriptif article header {
    width:50%;
}

.descriptif article .photoArticle {
    object-fit: cover;
    width: 100%;
    height: auto;
  
}
.descriptif article header h3 {
    width:100%;
    height: 10px;
   
}
@media screen and (max-width: 800px) {
    .column2 {
        width: 100%;
        padding-right:50px;
    }
    .descriptif {
       
        width: 90%;
        margin:auto;
        
    }
    article {
       display:flex;
        flex-direction: column;
        align-items: center;
        padding-right: 48px;
    }
    .column1 {
        fixed;
    }
    
 

}