.stats {
    display: flex;
}

h1 {
    font-size: 2,4rem;
   
}

h3 { 
    font-size: 1,6rem;

}

h4 {
    font-size: 1rem;
    font-weight: bold;
    
}

h5 {
    font-size: 0,8rem;
    font-weight: normal;

}

h4 {
    font-size: 1rem;
    font-weight: bold;
    
}

h5 {
    font-size: 0,8rem;
    font-weight: normal;
}

.column2 {
    width: 60%;
}

.articles article h5 {
    margin-top:3px;
    padding-left: 5px;
}
.articles article h4 {
    margin-top:3px;
    padding-left: 5px;
}


.articles article h5 {
    margin-top:3px;
    padding-left: 5px;
}
.articles article h4 {
    margin-top:3px;
    padding-left: 5px;
}


.infosProducts {
    min-width: 80%;
    height: auto;
    border: 1px solid;
   
}



.articles {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

article h4, h3 {
    padding:0;
    margin:0;
}


.infosUsers article h4 {

    margin-top:3px;
    padding-left: 5px;
   }

.infosUsers article h5 {

    margin-top:3px;
    padding-left: 5px;
}


.infosUsers h2{
    align-self: flex-start;
}

.infosUsers {
    display: flex;
    

    flex-direction: column;
    align-items: center;

    border: 1px solid;
    margin-left: 25px;
  
    
}
.infosUsers article {
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 5px;
}
.infosUsers article header {
    width: 33%;
}

.infosUsers article .photoRoom {
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-radius: 25% 0 0 25%;
}
.mostPinfosUsers article header h3 {
    width:100%;
    height: 10px;
   
}
.mostPopular .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
