body {
    
    font-family: "Raleway", "Sans serif";
    margin: 0;

    background: url(../../../content/photos/background/smooth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

    color:white;
}


.container {
    display:flex;
}
#title {
    text-align: center;
    width: 60%;
    margin:auto;
}
.column1 {
   
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    border:1px solid;
   
    margin-top:0px;

   
   
}

.column1 a  {
    color:white;
   
}
.column1 ul {
    list-style-type: none;
   

}


.column2 {
    
    width:80vw;
    height:100vh;
    margin: auto;
   
    text-align:left;
    padding-top: 1vw;
}
table {
    padding-top:5vw;
}
.bottomLinks {
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
  
    .column1 {
       display:block;
       height: 50px;
       width:50px;
       background-image: url(../../../content/photos/logos/svg-hamburger-icon-12.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-color: grey;


    }
    .column1 ul {
        display:none;
    }
   
    .column2 {
        width: 100vw;
        margin:auto;
        
    }
}
@media screen and (max-width: 480px) {
.container {
    display:block;
}
}

