.login-form {
    position:relative;
    top: 5rem;
    width:25%;
    height: auto;
    margin:auto; 
    border: 1px solid;
    padding:15px;
    
    text-align:left;
}

.login-form .label {
    display:block;
}
.group {
    padding-bottom: 25px;
}
.column2 {
    position:relative;
    width:80vw;
  
    margin-left: 20px;
    text-align:left;
}
.photo {
    
    position:relative;
    
    margin:auto;
    width: 100%;
    height: 150px;
   
}
.button {
   display:block;
    width: 50%;
    margin:auto;
}



