.bigTitle {
    text-align:center;
    margin-bottom:5%;
}

.myCommand {
    padding:3%;
    border:1px solid;
    margin:25px 15px;
    background-color: white;
    opacity: 0.5;

    color:black;
}
.oneLine {
    display:flex;
    justify-content: space-between;
}
input {
    border:none;
}