
.descriptif {
   margin:5vh auto 0px auto;
   width: 80%;
  
    justify-content: space-between;

}
.descriptif article h4 {

    margin-top:3px;
       padding-left: 5px;
   }

.descriptif article h5 {

margin-top:3px;
    padding-left: 5px;
}


.descriptif h2{
    align-self: flex-start;
}


.descriptif article {
    display:flex;
    /* flex-wrap: wrap; */
  
    height:auto;
    width: 80%;
    margin: auto;
 
   

   
    padding: 5px;
}
.descriptif article header {
    /* width:50%; */
}

.descriptif article .photoArticle {
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
    
}
.descriptif article header h3 {
    /* width:100%;
    height: 10px; */
   
}
.descriptif .infos {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-left:40px;

}

.descriptif .infos .stars {
    align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}
.stars .hostingMainCardGradeIcon[data-active=false] {
    color: #d2d4d6;
}

.bottomLinks {
    margin-top:10%;
}
.bottomLinks a {
    color:white;
  
}

@media screen and (max-width: 1200px) {
    article {
        flex-direction:column;
    }
    nav {
        display:flex;
        justify-content: center;
    }
    .descriptif .infos {
       
        padding-left: 0px;
    }
    ;

}