h1 {
    font-size: 2, 4rem;
}

h3 {
    font-size: 1, 6rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

h5 {
    font-size: 0, 8rem;
    font-weight: normal;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

h5 {
    font-size: 0, 8rem;
    font-weight: normal;
}

.articles article h5 {
    margin-top: 3px;
    padding-left: 5px;
}

.articles article h4 {
    margin-top: 3px;
    padding-left: 5px;
}

.searchFiltersTitle {
    margin-right: 20px;
}



#comment {
    color: white;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;

    width: 50%;
    text-align: center;
}

#slideshow {
    display: flex;
    justify-content: space-evenly;
    background-color: black;

    width: 100%;
    height: auto;
    padding: 0;

    overflow: hidden;
}

.relative {
    position: relative;
}

.searchSection {
    display: block;
    margin-top: 30px;
}

.searchForm {
    display: flex;
    width: 50%;
    margin: auto;
    height: auto;
}

form {
    margin-bottom: 2em;
}

.searchForm {
    margin-top: 3em;

    margin-bottom: 20px;
}




.fas.fa-search {
    margin: auto;
    color: gray
}

.input1 {
    width: 80%;
    height: 50px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px;
    border-color: lightgray;
    margin-left: -1px;
    padding-left: 10%;
    font-size: 1.5rem;
    color: grey;
}

#search {
    height: 50px;
    width: 50px;
    font-weight: bold;
    border: none;
    padding: 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}

.info {
    margin-top: 4em;
    color: white;
    text-align: center;
}

.allProducts {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    height: 40%;
}

section {
    background-color: white;
    background-color: transparent;
}

section#availableProducts h2 {
    margin-left: 25px;
}

.stars {
    margin-left: 10px;
    margin-bottom: 5px;
}

.mostPopular.stars {
    margin-top: 20px;
}

.articles article h5 {
    margin-top: 3px;
    padding-left: 5px;
}

.articles article h4 {
    margin-top: 3px;
    padding-left: 5px;
}

h2.searchFiltersTitle {
    margin-right: 20px;
}

section#availableProducts h2 {
    margin-left: 25px;

}

section.mostPopular h2 {
    margin-left: 25px;
}

#availableProducts {
    width: 55%;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 25px;
}

article {
    width: 30%;
    height: 90%;

    background-color: white;
    padding: 3px;
    margin-top: 25px;
    box-shadow: 0 0 1em #acabab;

    color: black;
}

article a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article h4,
h3 {
    padding: 0;
    margin: 0;
}

.stars {
    align-self: flex-end;
}

.photoArticle {
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.displayMore {
    padding-left: 25px;
    Padding-top: 25px;
    padding-bottom: 25px;
}

.mostPopular article h4 {

    margin-top: 3px;
    padding-left: 5px;
}

.mostPopular article h5 {

    margin-top: 3px;
    padding-left: 5px;
}

.mostPopular h2 {
    align-self: flex-start;
}

.mostPopular {
    display: flex;
    width: 30%;

    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 25px;

}

.mostPopular article {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 5px;
}

.mostPopular article header {
    width: 33%;
}

.mostPopular article .photoRoom {
    object-fit: cover;
    height: 7rem;
    width: 100%;

    border-radius: 25% 0 0 25%;
}

.mostPopular article header h3 {
    width: 100%;
    height: 10px;

}

.mostPopular .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mostPopular .infos .stars {
    align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}

.stars .hostingMainCardGradeIcon[data-active=false] {
    color: #d2d4d6;
}

.suggestions article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: auto;
}

.title2 {
    margin-left: 25px;
}


.suggestions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;

    margin: auto;
}

.displayMore a {
    color: white;

}


@media screen and (max-width: 1000px) {
    .allProducts {
        flex-direction: column;
    }

    #availableProducts {
        width: 100%;
        margin: auto;
    }

    .mostPopular {

        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    H3 {
        font-size: 0.9rem;
    }

    #title {
        width: 90%;
    }

    #comment {

        width: 90%;
    }

    #slideshow {
        display: none;
    }

    .searchForm {
        width: 70%;
    }

    .input1 {
        width: 100%;
        font-size: 0.9rem;
    }

    .allProducts {
        flex-direction: column;
    }

    #availableProducts {
        width: 100%;
        margin: auto;
    }

    .articles {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .article {
        width: 100%;
        object-fit: contain;
        margin: 10px;
    }

    .mostPopular {
        width: 100%;
    }

    .suggestions {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (max-width: 300px) {
        body {
            font-size: 0.7em;
        }

        #comment {
            margin: 2em;
            font-size: 0.3em;
        }

        .info {
            margin: 1em;
        }

        .articles {
            flex-direction: column;
        }

        article {
            width: 100%;
            padding: 0;
        }

        .suggestions {
            display: block;
            margin: auto;
            justify-content: center;
        }

    }
}