.login-form {
    position:relative;
    top: 5rem;
    width:25%;
    height: auto;
    margin:auto; 
    border: 1px solid;
    padding:15px;
    
    text-align:center;
}

.login-form .label {
    display:block;
}
.group {
    padding-bottom: 25px;
}
.menu li, a {
    margin-right: 1.5em;

    color: rgb(3, 3, 3);
    text-decoration: none;
}


