body {
    
    font-family: "Raleway", "Sans serif";
    margin: 0;

    background: url(../../../content/photos/background/smooth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    

    color:white;
}

.navbar {
    position:fixed;
    top:0;
    width:100%;

    display:flex;
    justify-content: space-between;
    height: 10vh;

    background: linear-gradient(black,#014558);
}

.iconMachineStock {
    background-image: url(../../../content/photos/logos/IT-logo-8670EB0250-seeklogo.com.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin:0;
    padding:0px;
    width: 5%;
    height: auto;
    border:0px;
}


.menu {
display:flex;
align-items: center;
list-style-type:none;

color:#76A5EC;
font-weight: bold;

}
.menu li, a {
    margin-right:1.5em;
    color:white;
    text-decoration: none;
}

.bottomLinks {
    display:flex;
    justify-content: space-around;
   
}
#title {
    text-align: center;
    
}
.container {
    min-height: calc(100vh - 10vh - 5vh + 100px);
    margin-top:10vh;
    padding-top: 20px;
}

.bottomLinks li {
    list-style-type: none;
}

.credits {
    width: 100%;
    height: 5vh;
    margin:0;
    background: url(../../../content/photos/background/smooth.jpg);
    text-align: right;
}
.credits p {
    margin:0;
}

.upButton {
    margin-bottom: 4em;
}
.upButton a{
    padding-left: 4em;
    color:white;
}