
table {
    width: 70%;
    margin:auto;
    margin-bottom: 30px;
    padding-top:50px;
    
}

.descriptif {
    margin-top:10px;

}
.descriptif article h4 {

    margin-top:3px;
       padding-left: 5px;
   }

.descriptif article h5 {

margin-top:3px;
    padding-left: 5px;
}


.descriptif h2{
    align-self: flex-start;
}


.descriptif article {
    display:flex;
    /* flex-wrap: wrap; */
    width: 80%;
    height:auto;

    margin: 10px 0 10px 0;
    padding: 5px;
}
.descriptif article header {
    width:50%;
}

.descriptif article .photoArticle {
    display: inline-block;
    position: relative;
    left:90%;
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 25% 0 0 25%;
}
.descriptif article header h3 {
    width:100%;
    height: 10px;
   
}
.descriptif .infos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.quantity {
    height:20px;
    width: auto;
}
.description {

    width: 200px;
    text-align: left;
}
.quantity input {
    align-items: center;
    width: 10px;
}

.description .infos .quantity {
   display:flex;
   
}
table  {
    text-align: center;
}
.line {
 
    height: 2px;
    color:rgb(223, 23, 23); 
}
@media screen and (max-width: 900px) {
    @media screen and (max-width: 1200px) {
        article {
            flex-direction:column;
        }
        nav {
            display:flex;
            justify-content: center;
        }
        .descriptif .infos {
           
            padding-left: 0px;
        }
        ;
    
    }@media screen and (max-width: 1200px) {
    table {
       width: 100%;
        font-size: 0.6em;
}

}
}