.signup-form {
    position:relative;
    top: 5rem;
    width:25%;
    height: auto;
    margin:auto; 
    border: 1px solid;
    padding:15px;
    
    text-align:left;
}
.title {
    text-align: center;
}
button , .foot-lnk {
    display:block;
    max-width: 50%;
    margin:auto;
    border:1px solid;
    text-align:center
}

.signup-form .label {
    display:block;
    
}
.group {
    padding-bottom: 25px;
}
.oneline {
    display:flex;
    justify-content: space-between;
}
.menu li, a {
    margin-right: 1.5em;

    color: rgb(3, 3, 3);
    text-decoration: none;
}

